@import '../../scss/variables';
@import '../../scss/mixin';

.section {
  &_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &_title {
      padding: 55px 0 32px 10px;
      font-size: $second-size;
      @include manrope-bold();
    }

    &_body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        background: $white;
        border-radius: $border;

        &_product {
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;
          width: 90%;
          height: 180px;
          padding: 20px 10px 0;

          &_checkbox {

          }

          &_photo {
            width: 88px;
            height: 88px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          &_name {
            a {
              p:first-child {
                color: $first-grey;
                font-size: $third-size;
                @include manrope-bold();
              }

              p:nth-child(2) {
                padding-top: 20px;
                color: $fourth-grey;
                @include manrope-light();
              }
            }
          }

          &_counter {
            display: flex;
            justify-content: space-between;
            width: 99px;

            &_inner {
              height: 33px;
              border: 1px solid $second-white;
              border-radius: 3px;

              button {
                width: 33px;
                height: 33px;
                font-weight: $big-weight;
                text-align: center;
                background: $main-background;
                border: 0;
                cursor: pointer;
              }

              input {
                width: 27px;
                height: 30px;
                border: 0;
                text-align: center;
                outline: none;
              }
            }
          }

          &_price {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 90px;

            p {
              font-weight: $big-weight;
            }

            button {
              padding: 0;
              background: none;
              text-decoration: underline;
              border: none;
              border-bottom: black;
            }
          }
        }
      }

      &_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 25%;

        &_top {
          display: flex;
          flex-direction: column;
          width: 100%;
          background: $white;
          border-radius: $border;

          &_inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0 auto;
            width: 90%;

            &_container {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: $fourth-size;

              p:first-child {
                color: $fourth-grey;
                @include manrope-regular();
              }

              p:nth-child(2) {

                color: $first-grey;
                @include manrope-bold();
              }
            }

            &_containerSum {
              display: flex;
              justify-content: space-between;

              &_total {
                color: $first-grey !important;
                font-size: $sixth-size;
              }
            }

            &_containerButtons {
              display: flex;
              justify-content: center;

              &_btn1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 90%;
                height: 56px;
                background: $button-blue;
                color: $white;
                font-size: $third-size;
                border: none;
                border-radius: 50px;
                @include manrope-bold();
              }

              &_btn2 {
                color: $first-grey;
                @include manrope-regular();
              }
            }
          }
        }

        &_bottom {
          width: 100%;
          margin-top: 50px;
          background: $white;
          border-radius: $border;
        }
      }
    }
  }
}