@import '../../scss/variables';

.Login{
    max-width: 400px;
    height: 100vh;
    margin: 0 auto;
    margin-top: 20px;
    &_form{
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 32px;
        border-radius: 10px;
        letter-spacing: 1px;
        box-shadow: 0 4px 16px $almost-white;
        &_title{
            margin-bottom: 30px;
            text-align: center;
            font-weight: $big-weight;
            font-size: $second-size;
        }
        &_button{
            max-width: 120px;
            height: 40px;
            padding: 10px 20px;
            font-size: 16px;
            letter-spacing: 1px;
            background-color: $button-blue;
            border: none;
            border-radius: 5px;
            color: $white;
            outline: none;
        }
        &_group{
            position: relative;
            margin-bottom: 32px;
            &_error{
                padding-top: 10px;
                color: $red;
            }            
            &_eye{
                width: 20px;
                height: 20px;
                position: absolute;
                right: 5%;
                top: 50%;
            }
        }
        &_label{
            position: absolute;
            top: 0;
            color:#9e9e9e ;
        }
        &_SignUp{
            margin: 20px 0 20px 0;
            line-height: 1.3;
        }
        &_group input{
            width: 90%;
            padding: 10px;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid $seventh-grey;
            outline: none;          
        }
        &_group input:focus{
            border-bottom: 1px solid $blue;
        }

    }
}