@import '../../scss/variables';

.WhyChooseUs {
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

    &_title {
        padding-right: 10px ;
        padding-left: 10px;
        font-weight: $big-weight;
        font-size: 28px;
    }

    &_title_item {
        padding-top: 15px;
        font-weight: $big-weight;
        font-size: $third-size;        
    }

    &_text_item {
        margin-top: 10px;
        color: #757575;
        font-weight: $small-weight;
        font-size: $fourth-size;
    }

    &_item {
        box-sizing: border-box; 
        max-height: 215px;
        margin-right: 10px;
        padding: 60px 10px 0 10px;
    }
    &_bg{
        background-color: $fifth-grey;
    }
    &_grey{
        background-color: $fifth-grey;
    }

    &_wrapper {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, minmax(220px, 1fr));
        margin-top: 50px ;  
        padding: 0 40px 60px 40px;
        border-radius: $border;
    }
}
@media screen and (max-width: 992px) {
    .WhyChooseUs {
        padding-bottom: 0;
        &_wrapper {
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            padding: 0 25px 60px 25px;

          }
    }
  }

@media screen and (max-width: 480px) {
    .WhyChooseUs {
        &_wrapper {
            grid-template-columns: repeat(1, minmax(220px, 1fr));
            padding: 0 45px 60px 45px; 
          }
    }
  }