@import '../../scss/_mixin.scss';
@import '../../scss/_variables.scss';

.product {
    padding-top: 20px;
    padding-bottom: 20px;

    &_container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto
    }

    &_card {
        position: relative;
        z-index: 1;
        display: flex;
        gap: 50px;
        align-items: flex-start;

        ;


    }

    &_card_swiper {
        height: 600px;
    }

    &_swiper_wrapper {
        flex-shrink: 0;
        width: 100%;
        max-width: 515px;


    }

    &_card_info {
        text-align: left;

    }

    &_card_img_wrapper {
        padding: 10px 7px;
    }

    &_card_img_mini {
        cursor: pointer;
    }

    &_card_img_wrapper img {
         width: 100%;
        border: 5px solid #FFF;    
        box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.10);
    }

    &_card_img_wrapper_big {
        width: 100%;
        height: 450px;
    }

    &_card_swiper_mini {
        height: 87px;

    }

    &_card_hot {
        margin-bottom: 4px;
        font-weight: 600;
        color: #fa4500;    
        font-size: 17px;      
        line-height: 1.23;
    }

    &_card_title {
        margin-bottom: 24px;
        font-size: 40px; 
        line-height: 1.1;
    }

    &_card_price {
        font-weight: bold;
        font-size: 22px;

    }

    &_card_under_price {
        margin: .4rem 0 1rem;
        font-size: calc(((var(--font-size-base) - 1) / (var(--font-size-base))) * 1em);
    }

    &_card_description_items {
        margin-bottom: 35px;
        padding: 16px 24px 9px;
        border-radius: 8px;

    }

    &_card_description_items_bg {
        background: #f8f8f8;
    }

    &_card_description_subtitle {
        margin-bottom: 35px;
        color: var(--color-body-text);

    }

    &_card_description_list {
        line-height: 30px;
        list-style-type: disc;
    }

    &_card_overview {
        align-items: center;
        color: #2164ff;   
        font-weight: 500;   
        line-height: 1.78;        
        cursor: pointer;
    }

    &_card_description_subtitle_other {
        margin: 0 0 10px 0;
        font-weight: 600;
        font-size: 20px;    
        line-height: 1;
    }

    &_card_options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
         margin-bottom: 20px;
        padding: 15px 35px;
        border: 1px solid grey;
        border-radius: 7px;      
        cursor: pointer;
    }

    &_card_options_active {
        border: 2px solid #1371c1;
    }

    &_card_description_subtitle_available {
        font-weight: $big-weight;
        font-size: 18px;
    }

    &_card_button_minus {
        padding: 20px 30px;
        border: transparent;
        transition: 0.5s;
    }

    &_card_button_plus {
        padding: 20px 30px;
        border: transparent;
        transition: 0.5s;
    }

    &_card_count {
        padding: 20px 30px
    }

    &_card_container_for_buttons {
        text-align: end;
    }

    &_card_total_price {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;       
        margin-top: 48px;  
        min-height: 100px; 
         padding: 30px 24px 10px;    
        border-radius: 8px;             
    }

    &_card_total_price_cash {
        font-weight: $big-weight;
        font-size: 24px;
    }

    &_info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &_card_total_price_button {
        display: block;
        background-color: transparent;
        color: white; 
         background-color: #2164ff;
         padding: 15px 25px;
         font-weight: $big-weight;       
        border-radius: 50px;
        font-size: 15px;                              
        border: transparent;                 
    }

    &_card_rating {
         float: none;
        margin: 5px;
       
    }

    &_card_star {
        width: 25px;
        float: left; 
        height: 25px;
        margin: 2px;     
        cursor: pointer;                    
        background-color: grey;
        clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
    }

    &_star_rating {
        display: flex;
        flex-direction: column;
        gap: 5px
    }

    &_card_selected {
        background-color: yellow;
    }

}