@import '../../scss/_mixin.scss';
@import '../../scss/_variables.scss';

.product {
    padding-top: 20px;
    padding-bottom: 20px;

    &_container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto
    }

    &_card {
        position: relative;
        z-index: 0;
        display: flex;
        gap: 50px;
        align-items: flex-start;

    }

    &_card_swiper {
        height: 600px;
    }

    &_swiper_wrapper {
        flex-shrink: 0;
        width: 100%;
        max-width: 515px;


    }

    &_card_info {
        text-align: left;

    }

    &_card_img_wrapper {
        padding: 10px 7px;
    }

    &_card_img_mini {
        cursor: pointer;
    }

    &_card_img_wrapper img {
        width: 100%;
    }

    &_card_img_wrapper_big {
        width: 100%;
        height: 450px;
    }

    &_card_hot {
        margin-bottom: 4px;
        color: #fa4500;
        font-weight: 600;
        font-size: 17px;
        line-height: 1.23;
    }

    &_card_title {
        margin-bottom: 24px;
        font-size: 40px;
        line-height: 1.1;
    }

    &_card_price {
        font-weight: bold;
        font-size: 22px;

    }

    &_card_under_price {
        margin: .4rem 0 1rem;
        font-size: calc(((var(--font-size-base) - 1) / (var(--font-size-base))) * 1em);
    }

    &_card_description_items {
        margin-bottom: 35px;
        padding: 16px 24px 9px;
        border-radius: 8px;

    }

    &_card_description_items_bg {
        background: #f8f8f8;
    }

    &_card_description_subtitle {
        margin-bottom: 35px;
        color: var(--color-body-text);
        line-height: 27px;

    }

    &_card_description_list {
        line-height: 30px;
        list-style-type: disc;
    }

    &_card_overview {
        align-items: center;
        color: #2164ff;
        font-weight: 500;
        line-height: 1.78;
        cursor: pointer;
    }

    &_card_description_subtitle_other {
        margin: 0 0 10px 0;
        font-weight: 600;
        font-size: 20px;
        line-height: 1;
    }

    &_card_options {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 15px 35px;
        border: 1px solid grey;
        border-radius: 7px;
        cursor: pointer;
    }

    &_card_options_active {
        border: 2px solid #1371c1;
    }

    &_card_description_subtitle_available {
        font-weight: $big-weight;
        font-size: 18px;
    }

    &_card_button_available {
        padding: 20px 30px;
        border: transparent;
        cursor: pointer;
    }

    &_card_button_disable {
        color: $black;
        background-color: $third-grey;
        cursor: none;
    }

    &_card_count {
        padding: 20px 30px
    }

    &_card_container_for_buttons {
        text-align: end;
    }

    &_card_total_price {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        min-height: 100px;
        margin-top: 48px;
        padding: 30px 24px 10px;
        border-radius: 8px;
    }
    &_card_total_price_cash {
        font-weight: $big-weight;
        font-size: 24px;
    }

    &_info {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &_card_total_price_button {
        display: block;
        width: 100%;
        padding: 15px 25px;
        color: white;
        font-weight: $big-weight;
        font-size: 15px;
        background-color: #2164ff;
        border: transparent;
        border-radius: 50px;
    }

    &_card_rating {
        float: none;
        margin: 5px;
    }

    &_card_star {
        float: left;
        width: 25px;
        height: 25px;
        margin: 2px;
        background-color: grey;
        clip-path: polygon(50% 0%, 63% 38%, 100% 38%, 69% 59%, 82% 100%, 50% 75%, 18% 100%, 31% 59%, 0% 38%, 37% 38%);
    }

    &_star_rating {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &_card_selected {
        background-color: $orange;
    }

    &_fav_heart {
        width: 36px;
        height: 36px;
    }

    &_favorite_background {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        background-color: $pink;
        border-radius: 50%;
        cursor: pointer;

    }

    &_container_for_heart {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (min-width: $tab) {
        &_favorite_background {
            transition: background-color .3s ease, transform .3s ease;

            &:hover {
                background-color: $white;
                transform: scale(1.3);
            }
        }

        &_favorite_background:hover>&_fav_heart {
            color: $pink;
        }

    }

    @media screen and (min-width: $tab) {
        &_card_total_price_button {
            transition: background-color .3s ease, transform .3s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    @media screen and (max-width:$tab) {
        .product {
            margin: 10px;

            &_card {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            &_card_info {
                margin: 10px;
            }

            &_card_swiper {
                height: 450px;
            }

            &_fav_heart {
                top: 18%;
                right: 3%;
            }

        }
    }

    @media screen {}

    @media screen and (max-width: 460px) {
        .product {

            &_card_info {
                margin-top: 50px;
            }

            &_image_swiper_mini_img {
                height: 150px;
            }

            &_card_swiper {
                height: 350px;
            }

            &_card_container_for_buttons {
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }
}