.ldsRing {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.ldsRing div {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #838383;
    border-color: #838383 transparent transparent transparent;
    border-radius: 50%;
    animation: ldsRing 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
}

.ldsRing div:nth-child(1) {
    animation-delay: -.45s;
}

.ldsRing div:nth-child(2) {
    animation-delay: -.3s;
}

.ldsRing div:nth-child(3) {
    animation-delay: -.15s;
}

@keyframes ldsRing {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 423px;
}