.cardContainer {
    display: grid;
    padding: 20px 55px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px 55px;
}

@media screen and (min-width: 481px) {
    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 993px) {
    .cardContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 423px;
}