@import '../../scss/_mixin.scss';
@import '../../scss/_variables.scss';

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &__btn {
        margin: 5px;
        padding: 5px 10px;
        @include manrope-bold;
    }
}