@import '../../scss/_variables.scss';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  height: 62px;
  background: $second-white;

  input {
    width: 600px;
    height: 100%;
    color: $black;
    background: none;
    border: none;

    &::placeholder {
      color: $black;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: $first-grey;

      &:hover {
        fill: $third-grey;
      }
    }
  }

  &_btn2On {
    width: 35px;
    height: 35px;

    svg {
      width: 25px !important;
      height: 25px !important;
    }
  }

  &_btn2Off {
    width: 35px;
    height: 35px;

    svg {
      width: 20px !important;
      height: 20px !important;
    }
  }
}

@media screen and (max-width: $tab) {

  .container {
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 4;
    width: 100vw;
    max-width: 100%;

    &_btn1 {
      padding-left: 10px;
    }

    input {
      padding-left: 10px;
      font-size: $seventh-size;
    }

    &_btn3 {
      padding-right: 30px;
    }
  }
}