@import '../../scss/variables';
@import '../../scss/mixin';


.carousel {
    
    &__card {
        position: relative;

        &__content {
            position: absolute;
            top: 0;
            left: 15%;
        }

        &__img {
            width: 100%;
            height: 320px;
            object-fit: cover;
            transition: opacity .8s cubic-bezier(.44, .13, .48, .87);
        }

        &__title {
            margin-top: 100px;
            margin-bottom: 8px;
            color: $white;
            @include manrope-bold();
            font-size: 32px;
            line-height: 1;
        }

        &__text {
            margin-bottom: 8px;
            color: $white;
            font-weight: 600;
            font-size: 20px;
            line-height: 1.4;
        }

        &__button {
            position: absolute;
            top: 220px;
            width: auto;
            min-width: unset;
            padding: 6px 24px;
            font-weight: bold;
            font-size: 17px;
            line-height: 2.12;
            text-transform: uppercase;
            border: none;
            border-radius: 50px;
            cursor: pointer;

            &:hover {
                color: #f4f3f3;
                background-color: $button-blue;
            }
        }
    }
}

.arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 27px;
    padding: 4px;
    color: $white;
    font-size: 24px;
    background-color: rgba($color: #000000, $alpha: .1);
    border: none;
    border-radius: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.arrow-prev {
    left: 22px;
}

.arrow-next {
    right: 22px;
}

.arrow:hover {
    background-color: rgba($color: #000000, $alpha: .2);
}

@media (min-width: 993px) {
    .carousel__card {

        &__img {
            height: 540px;
        }

        &__title {
            font-size: 46px;
        }

        &__text {
            font-size: 20px;
        }

        &__button {
            position: absolute;
            top: 320px;
        }
    }

    .arrow {
        width: 36px;
        height: 36px;
        padding: 5px;
        font-size: 30px;
    }
}