@import '../../scss/variables';

.carousel {
    margin-bottom: 50px;

    &__card {
        position: relative;

        &__content {
            position: absolute;
            top: 0px;
            left: 20%;
        }

        &__img {
            width: 100%;
            transition: opacity .8s cubic-bezier(.44, .13, .48, .87);
        }

        &__title {
            width: 550px;
            margin-bottom: 8px;
            color: $white;
            font-size: 46px;
            line-height: 1;
        }

        &__text {
            margin-bottom: 8px;
            color: $white;
            font-weight: 600;
            font-size: 20px;
            line-height: 1.4;
        }

        &__button {
            position: absolute;
            top: 185px;
            width: auto;
            min-width: unset;
            padding: 6px 24px;
            font-weight: bold;
            font-size: 17px;
            line-height: 2.12;
            text-transform: uppercase;
            border: none;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            &:hover {
                color: #f4f3f3;
                background-color: $button-blue;
            }
        }
    }
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    width: 36px;
    height: 36px;
    padding: 5px;
    transform: translateY(-50%);
    border: 1px solid none;
    border-radius: 50%;
    font-size: 30px;
    background-color: rgba($color: #000000, $alpha: 0.1);
    color: $white;
    z-index: 1;
    cursor: pointer;
}

.arrow-prev {
    left: 22px;
}

.arrow-next {
    right: 22px;
}

.arrow:hover {
    background-color: rgba($color: #000000, $alpha: 0.2);
}