@import "../../scss/_variables.scss";

.container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 95%;
  z-index: 4;
  width: 47px;
  height: 47px;
  text-decoration: none;
  background-color: $button-blue;
  border: none;
  border-radius: 50%;
  &:hover{
    background-color: $button-light-blue;
    transition-duration: 0.5s;
  }
  svg {
    width: 70%;
    height: 70%;
  }
}