@import '../../scss/mixin';
@import '../../scss/variables';

.shopCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: $white;
    border-radius: 10px;

    &__darkTheme {
        background-color: $black;
        box-shadow: 0 0 18px rgba(255, 255, 255, .4);
    }

    &__imgBlock {
        position: relative;
        width: 268px;
        max-width: 100%;
        height: 268px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        object-fit: cover;

        &__img1 {
            position: absolute;
            max-width: 100%;
            height: 268px;
            object-fit: cover;
            opacity: 1;
            transition: opacity .5s linear;
        }

        &__img2 {
            position: absolute;
            max-width: 100%;
            height: 268px;
            object-fit: cover;
            opacity: 0;
            transition: opacity .2s linear;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: stretch;

        &__name {
            margin-top: 15px;
            color: $black;
            font-weight: bold;
            line-height: 1.2;
            text-align: center;
            text-decoration: none;

            &__darkTheme {
                color: #FFFFFF;
            }
        }

        &__categories {
            color: $black;
            font-weight: bold;
            line-height: 1.2;
            text-align: center;

            &__darkTheme {
                color: #FFFFFF;
            }
        }

        &__model {
            margin-top: 10px;
            color: $sixth-grey;
            font-size: 14;
            text-align: center;

            &__darkTheme {
                color: #999999;
            }
        }

        &__order {
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;

            &__price {
                position: relative;
                left: 50%;
                padding: 10px 20px;
                color: #232323;
                @include manrope-bold;
                transform: translateX(-50%);

                &__darkTheme {
                    color: #DCDCDC;
                }
            }

            &__btn {
                position: relative;
                left: 50%;
                display: none;
                padding: 9px 19px;
                color: $white;
                @include manrope-bold;
                letter-spacing: .1em;
                background-color: $button-blue;
                border: none;
                border-radius: 20px;
                transform: translateX(-50%);
            }

            &__wishList {
                position: absolute;
                top: 7%;
                right: 2%;
                width: 30px;
                background-color: transparent;
                border: none;
                transform: translate(-50%, -50%);

                svg {
                    width: 30px;
                    height: 30px;
                }
            }

            &__cart {
                position: absolute;
                right: 2%;
                bottom: 1%;
                display: block;
                width: 30px;
                background-color: transparent;
                border: none;
                transform: translate(-50%, -50%);

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }


}

@media screen and (min-width: 481px) {
    .shopCard {
        &__imgBlock {
           
            &__img1 {
                width: 368px;
            }

            &__img2 {
                width: 368px;
            }
        }
    }
}

@media screen and (min-width: 993px) {
    .shopCard {
        &__imgBlock {
            width: 250px;
            height: 250px;
            &__img1 {
                width: 250px;
                height: 250px;
            }

            &__img2 {
                width: 250px;
                height: 250px;
            }
        }
        &__description__order__cart {
            display: none;
        }

        &:hover {
            .shopCard__description__order__btn {
                display: block;
            }
    
            .shopCard__description__order__cart {
                display: none;
            }
    
            .shopCard__description__order__price {
                display: none;
            }
    
            .shopCard__imgBlock__img1 {
                opacity: 0;
            }
    
            .shopCard__imgBlock__img2 {
                opacity: 1;
            }
    
        }
        
    }
}