@import '../../scss/variables';


.Account{
    max-width: 900px;
    margin: 0 auto;
    height: 100vh;
    margin-top: 100px;
    &_wrapper{
        padding: 80px 80px 150px 80px;
        background-color: white;
        border-radius: 10px;
        &_navigate{
            position: relative;
            display: flex;
            flex-direction: column;
            &_title{
                padding-bottom: 50px;
                font-weight: $big-weight;
                font-size: $second-size;
            }
            &_item{
                width: 100%;
                max-width: 700px;
                margin: 20px;
                font-size: 16px;
                background-color: white;
                border-radius: 10px;
                padding: 20px;
                color: black;
                cursor: pointer;
                font-weight: $big-weight;
                box-shadow: 0 4px 16px $almost-white;
            }
        }
        &_info{
            padding-top: 8px;
            display: flex;
            padding-left: 150px;
            flex-direction: column;
            &_title{
                padding-bottom: 30px;
                font-weight: $big-weight;
                font-size: $sixth-size;
            }
            &_item{
                padding-top: 15px;
            }
        }
    }
}