@import '../../scss/variables';

.baner{
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
    width: 100%;
    height: 52px;
    background-color: $baner-blue;
    &_title{   
      display: flex;
      align-items: center;
      padding-left: 20px;
      color: $white;
      font-size: 20px;
      line-height: 1.4 !important;
    }
    &_cross{
        padding-right: 20px;
        color: $white;
        font-size: $second-size;
        cursor: pointer;
        user-select: none;        
    }
}

@media screen and (max-width: $tab) {
  .baner {
    gap: 40px;
    &_title{
      display: inline-block;
      padding-left: 20px;
      color: $white;
      font-size: 18px;
      line-height: 1;
      text-align: center;
      vertical-align: bottom;    
    }
  }
}
@media screen and (max-width: $mobile) {
  .baner {
    gap: 40px;
    &_title{
      display: inline-block;
      padding-left: 20px;
      color: $white;
      font-size: 13px;
      line-height: 1;
      text-align: center;
      vertical-align: bottom;    
    }
  }
}