@import '../../scss/variables';

@import '../../scss/variables';

.Login{
    margin: 20px auto;
    max-width: 400px;
    height: 100vh;
    &_form{
        width: 300px;
        padding: 32px;
        border-radius: 10px;
        box-shadow: 0 4px 16px #ccc;
        letter-spacing: 1px;
    }
    &_form{
        display: flex;
        flex-direction: column;
        &_title{
            font-size: $second-size;
            font-weight: $big-weight;
            text-align: center;
            margin-bottom: 30px;
        }
        &_button{
            max-width: 120px;
            height: 40px;
            letter-spacing: 1px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            background-color: #0071f0;
            color: $white;
            padding: 10px 20px;
            outline: none;
            transition: 0.3s;
        }
        &_group{
            position: relative;
            margin-bottom: 32px;
        }
        &_label{
            position: absolute;
            top: 0;
            z-index: -1;
            color:#9e9e9e ;
            transition: 0.3s;
        }
        &_SignUp{
            margin-bottom: 20px;
        }
        &_group input{
            width: 100%;
            padding: 10px;
            border: none;
            border-bottom: 1px solid #e0e0e0;
            background-color: transparent;
            outline: none;
            transition: 0.3s;
            
        }
        &_group input:focus{
            border-bottom: 1px solid #1a73a8;
        }

    }
}