@mixin flex-element($align, $justify){
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin manrope-light(){
  font-family: Manrope, sans-serif;
  font-weight: 400;
}

@mixin manrope-regular(){
  font-family: Manrope, sans-serif;
  font-weight: 500;
}

@mixin manrope-bold(){
  font-family: Manrope, sans-serif;
  font-weight: 700;
}

@mixin manrope-bolder(){
  font-family: Manrope, sans-serif;
  font-weight: 800;
}
