$tab:993px;
$mobile:481px;
$blue: #1371C3;
$button-blue: #2164FF;
$second-grey:#444; 
$first-grey:#03060B; 
$third-grey:#919191;
$white:#fff;
$red:#FA4500;
$fourth-size:14px; 
$third-size:17px; 
$second-size:28px;
$first-size: 36px; 
$small-weight:500;
$big-weight:700;
$border: 10px;
$max-width: 1200px;