$tab: 992px;
$mobile: 480px;
$desktop-mobileFirst: 993px;
$tab-mobileFirst: 481px;
$baner-blue: #4164EC;
$blue: #1371C3;
$button-blue: #2164FF;
$button-light-blue: #5e91ff;
$green-blue: #1773b0;
$super-light-blue: #f8faff;
$second-grey: #444444;
$first-grey: #03060B;
$third-grey: #919191;
$fourth-grey: #757575;
$fifth-grey: #2a2a2a;
$sixth-grey: #666666;
$seventh-grey: #e0e0e0;
$eighth-grey: #e0e0e0;
$pink: #e6155c;
$white: #ffffff;
$second-white: #ededed;
$black: #000000;
$light-black: #333333;
$lighter-black: #232323;
$red: #FA4500;
$seventh-size: 16px;
$sixth-size: 20px;
$fifth-size: 12px;
$fourth-size: 14px;
$third-size: 17px;
$second-size: 28px;
$first-size: 36px;
$small-weight: 500;
$big-weight: 700;
$border: 10px;
$max-width: 1200px;
$shadow: #00000020;
$light-shadow: #FFFFFF4D;
$light-border: #00000020;
$sun: #FFEA29;
$orange:rgb(255, 183, 0);
$main-background: #f8f8f8;
$banner-background1: #895538;
$banner-background2: #5E5E5E;
$almost-white: #ccc;
