@import "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

a, button {
 cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}