@import './_variables.scss';

.light {
  color: $black;
  background: $main-background;

  &::after {
    background: $black;
  }
}

.lightHeader {
  color: $black;
  background: $white;
  div {
    &::after {
      background: $black;
    }
  }
}

.darkHeader {
  color: $white;
  background: $black;
  div {
    &::after {
      background: $white;
    }
  }
}

.light_navLink {
  a {
    color: $second-grey;

    &:hover {
      color: $black;

      &::after {
        background-color: $black;
      }
    }
  }
}

.dark_navLink {
  a {
    color: $white;

    &:hover {
      color: $third-grey;

      &::after {
        background-color: $white;
      }
    }
  }
}

.light_navMobile {
  ul {
    background-color: $white;

    li {
      &:hover {
        background: $super-light-blue;
      }

      a {
        color: $black;

        &:hover {
          color: $button-blue;
        }
      }
    }
  }
}

.dark_navMobile {
  ul {
    background-color: $light-black;

    li {
      &:hover {
        background: $third-grey;

        a {
          color: $button-blue;
        }
      }

      a {
        color: $white;

      }
    }
  }
}

.lightMobilePanel {
  background: $white;

  ul {
    li {
      &::after {
        background: $black;
      }

      a {
        color: $black;
      }
    }
  }
}

.darkMobilePanel {
  background: $light-black;

  ul {
    li {
      &::after {
        background: $white;
      }

      a {
        color: $white;
      }
    }
  }
}

.lightPictureCategoriesStyle {
  background: $white;
  div {
    ul {
      li {
        &:hover a>p {
          color: $button-blue !important;
          font-size: $fourth-size !important;
        }
        a {
          p {
            color: $black;
          }
        }
      }
    }
  }
}

.darkPictureCategoriesStyle {
  background: $black;
  div {
    ul {
      li {
        &:hover a>p {
          color: $sun !important;
          font-size: $fourth-size !important;
        }
        a {
          p {
            color: $white;
          }
        }
      }
    }
  }
}

.lightWeAreHereToHelpStyle {
  p {
    color: $black;
  }
}

.darkWeAreHereToHelpStyle {
  p {
    color: $white;
  }
}

