@import '../../scss/mixin';
@import '../../scss/variables';

.section {
  &_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &_title {
      height: 70px;
      padding-left: 10px;
      font-size: $second-size;
      @include manrope-bold();
    }

    &_body {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      column-gap: 10px;

      &_left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 595px;

        &_link {
          position: relative;
          width: 100%;

          img {
            display: block;
            width: 100%;
            height: 600px;
            border-radius: $border;
          }
          &_text {
            position: absolute;
            top: 20px;
            right: 10px;
            color: $second-white !important;
            font-size: $second-size;
            text-decoration: none;
          }
          &:hover p {
            text-decoration: underline;
          }
        }
      }

      &_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        row-gap: 10px;
        width: 595px;

        &_link {
          position: relative;
          width: 100%;

          img {
            display: block;
            width: 100%;
            height: 295px;
            border-radius: $border;
          }

          &_text {
            position: absolute;
            top: 20px;
            right: 10px;
            color: $second-white !important;
            font-size: $second-size;
            text-decoration: none;
          }

          &:hover p {
            text-decoration: underline;
          }
        }
      }
    }
  }
}


@media screen and (max-width: $tab) {
  .section {
    &_container {
      &_body {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        row-gap: 5px;

        &_left {
          display: flex;
          justify-content: center;
          width: 100%;
          overflow: hidden;
          border-radius: $border;

          &_link {
            display: flex;
            justify-content: center;
            overflow: hidden;
            border-radius: $border;

            &:hover p {
              text-decoration: none;
            }

            img {
              width: 90%;
              height: 400px;
              box-shadow: 0 0 80px rgba(0, 0, 0, 1.0);
            }
            &_text {
              top: 20px;
              right: 60px;
            }
          }
        }

        &_right {
          row-gap: 5px;
          width: 100%;
          &_link {
            display: flex;
            justify-content: center;
            overflow: hidden;
            border-radius: $border;

            &:hover p {
              text-decoration: none;
            }

            img {
              width: 90%;
              height: 400px;
              box-shadow: 0 0 80px rgba(0, 0, 0, 1.0);
            }
            &_text {
              top: 20px;
              right: 60px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .section {
    &_container {
      &_body {
        &_left {
          img {
            height: 270px;
          }
          &_link {
            p {
              font-size: $third-size;
            }
          }
        }
        &_right {
          img {
            height: 270px;
          }
          &_link {
            p {
              font-size: $third-size;
            }
          }
        }
      }
    }
  }
}