@import '../../scss/mixin';
@import '../../scss/variables';

.container {
  width: 100%;
  max-width: 1200px;
  height: 670px;
  margin: 0 auto;

  &_title {
    height: 70px;
    padding-left: 10px;
    font-size: $second-size;
    @include manrope-bold();
  }

  &_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    margin: 0 auto;

    &_left {
      width: 595px;
      height: 600px;

      &_link {
        width: 100%;

        img {
          width: 100%;
          border-radius: 5%;
        }
      }
    }

    &_right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      width: 595px;
      height: 600px;


      &_link {
        position: relative;
        width: 100%;
        height: 295px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 5%;
        }
        &_text {
          position: absolute;
          top: 20px;
          right: 10px;
          color: $white;
          font-size: $second-size;
          text-decoration: none;
        }
        &:hover p {
          text-decoration: underline;
        }
      }
    }
  }
}