@import '../../../scss/_variables.scss';
@import '../../../scss/_mixin.scss';

.section {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    @include manrope-regular();

    &_p1 {
      font-size: $third-size;
      @include manrope-bold()
    }

    &_p2 {
      font-size: $first-size;
      @include manrope-bolder();
    }

    &_p3 {
      font-size: $fourth-size;
      @include manrope-regular();
    }

    &_link {
      button {
        width: 225px;
        height: 40px;
        color: $white;
        font-size: $fourth-size;
        background: $black;
        border: none;
        border-radius: 50px;
      }

      &:hover button {
        background: $second-grey;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .section {
    &_container {
      width: 100%;
      max-width: 320px;
      &_p1 {
        font-size: $fourth-size;
      }

      &_p2 {
        font-size: $third-size;
      }

      &_p3 {
        font-size: $fifth-size;
        line-height: 25px;
        text-align: center;
      }
    }
  }
}