@import '../../scss/variables';

.faq {
    &_image {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;     
        background-image: url('./uper.png');
         height: 400px;
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;

    }

    &_title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 48px;         
        color: $white;
        font-weight: bold;
    }

    &_subtitle {
         color: $white;
        font-size: 24px;      

    }

    &_questions_section {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
        padding: 50px 0px
    }

    &_how_to_power {
        margin-bottom: 30px;
    }

    &_arrow {
        cursor: pointer;
    }

    &_wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &_question_title {
        font-weight: $small-weight;
        font-size: 16px; 
         max-width: 600px;   
        line-height: 22px;
    }
    &_item{
   margin-bottom: 30px;
    }
    &_text{
        max-width: 600px;
         color: #666;
        line-height: 22px; 
        font-size:$third-size ;
    }


}