@import '../../scss/variables';

.TopHomeSolutions {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;

  &_title {
    padding-left: 10px;
    font-weight: $big-weight;
    font-size: $second-size;
  }

  &_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;

    &_item {
      width: 595px;

      &_link {
        position: relative;

        &_img {
          display: block;
          width: 100%;
          height: 395px;
          border-radius: 10px;
        }

        &_title {
          position: absolute;
          top: 30px;
          left: 30px;
          width: 400px;
          color: $white;
          font-weight: $big-weight;
          font-size: 20px;
          line-height: 1.1;
          text-decoration: none;
        }

        &_text {
          position: absolute;
          top: 80px;
          left: 30px;
          width: 100px;
          color: $white;
          font-size: 14px;
          text-decoration: none;
        }

        &_text:hover {
          text-decoration: underline;
        }
      }
    }
  }
}


@media screen and (max-width: $tab) {
  .TopHomeSolutions {
    width: 100%;
    max-width: 768px;

    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &_item {
        width: 100vw;

        &_link {
          &_text {
            &:hover {
              text-decoration: none;
            }
          }

          &_img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {

  .TopHomeSolutions {
    width: 100%;
    max-width: 480px;

    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &_item {
        width: 100%;

        &_link {
          &_img {
            width: 100%;
            height: 300px;
            object-fit: cover;
          }

          &_title {
            width: 280px;
            font-size: 15px;
          }

          &_text {
            top: 85px;
            width: 100px;

          }
        }
      }

    }

  }
}